@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blogpost>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";


    @* Update the date field property alias used in the blog item node  *@
    var dateFieldAlias = "date";
    var blogDate = Model.Content.GetPropertyValue<DateTime>(dateFieldAlias);

}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">
    <div class="container">
        <article>
            <div class="blogpost-meta">
                @if (blogDate != default(DateTime))
                {
                    <small class="blogpost-date">@blogDate.ToShortDateString()</small>
                }
                <span class="blogpost-cat">
                    @Html.Partial("~/Views/Partials/CategoryLinks.cshtml", Model.Content.Categories)
                </span>
            </div>
            <h3>@Model.Content.Excerpt</h3>
            @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")
            <!-- todo: implement discus comments -->
        </article>
    </div>
</section>